.statusnew,
.statusnewWrapper {
  width: 12px;
  position: absolute;
  top: 0;
  height: 12px;
}
.statusnew {
  right: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-limegreen-100);
  overflow: hidden;
}
.statusnewWrapper {
  margin: 0 !important;
  right: -1px;
  z-index: 0;
}
.vectorIcon {
  width: 18px;
  position: relative;
  height: 19px;
}
.notification,
.notificationIcon {
  display: flex;
  justify-content: flex-start;
}
.notification {
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-11xs);
  z-index: 1;
}
.notificationIcon {
  flex-direction: column;
  align-items: center;
  position: relative;
}
.component30,
.notificationIconWrapper {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs);
  box-sizing: border-box;
}
.component30 {
  width: 46px;
  border-radius: 51.43px;
  background-color: var(--color-darkgreen);
  border: 0.5px solid var(--color-gray-600);
  height: 46px;
  padding: var(--padding-2xs);
}
.davidSmith {
  width: 85px;
  position: relative;
  font-weight: 500;
  display: none;
}
.frameChild,
.groupIcon {
  width: 162px;
  position: relative;
  height: 30px;
}
.groupIcon {
  width: 79px;
  height: 37.2px;
  display: none;
}
.logoChild {
  width: 10px;
  position: relative;
  height: 5px;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.davidSmithParent {
  gap: var(--gap-6xs);
}
.davidSmithParent,
.user,
.userWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.user {
  gap: var(--gap-17xl);
}
.userWrapper {
  z-index: 0;
}
.div {
  position: relative;
  letter-spacing: -0.03em;
  font-weight: 500;
}
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6xs-6);
}
.frameItem {
  width: 18px;
  position: relative;
  height: 18px;
}
.groupParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs-6);
}
.frameParent,
.topBar {
  position: absolute;
  display: flex;
}
.frameParent {
  margin: 0 !important;
  top: 23.2px;
  left: 470px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm-9);
  z-index: 1;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  font-family: var(--font-ubuntu);
}
.topBar {
  top: 0;
  right: 0;
  background-color: var(--color-whitesmoke-200);
  width: 1233px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-mid) var(--padding-3xs)
    var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  color: var(--color-white);
}
.activeTab,
.icon {
  display: flex;
  justify-content: flex-start;
}
.icon {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10xs);
}
.activeTab {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-mini);
}
.activeState {
  position: absolute;
  top: 217px;
  left: 0;
  width: 240px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-86xl) var(--padding-xs)
    var(--padding-lgi);
  box-sizing: border-box;
}
.icon1 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorIcon2 {
  width: 16.2px;
  position: relative;
  height: 18px;
}
.icon2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-9xs);
}
.line {
  position: absolute;
  width: calc(100% - 224px);
  top: 64px;
  right: 0;
  left: 224px;
  background-color: var(--color-whitesmoke-500);
  height: 1.6px;
}
.maskGroupIcon {
  position: absolute;
  top: calc(50% - 417px);
  left: calc(50% - 488px);
  width: 1185px;
  height: 863px;
  object-fit: cover;
}
.kentuckyFacilities {
  position: absolute;
  top: 23px;
  left: 240px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-ubuntu);
  color: var(--color-gray-200);
}
.unionIcon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.activeTab3,
.icon3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon3 {
  justify-content: center;
  padding: var(--padding-10xs);
}
.activeTab3 {
  justify-content: flex-start;
}
.facilityPlanning {
  position: relative;
  letter-spacing: -0.03em;
}
.component61Inner {
  position: absolute;
  height: 4.58%;
  width: 80.8%;
  top: 15.94%;
  right: 17.86%;
  bottom: 79.48%;
  left: 1.34%;
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
}
.empowerLogoIcon,
.unionIcon2 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.empowerLogoIcon {
  height: 3.16%;
  width: 72.77%;
  top: 2.19%;
  right: 16.96%;
  bottom: 94.66%;
  left: 10.27%;
  object-fit: cover;
}
.unionIcon2 {
  height: 9.17%;
  width: 95.09%;
  top: 8.65%;
  right: 0;
  bottom: 82.19%;
  left: 4.91%;
}
.icon4,
.iconParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.icon4 {
  align-items: flex-start;
  padding: var(--padding-10xs);
}
.iconParent {
  position: absolute;
  top: 115px;
  left: 24px;
  align-items: center;
  gap: var(--gap-6xs);
  color: var(--color-darkgreen-100);
}
.component61 {
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
  height: 960px;
  color: var(--color-powderblue);
  font-family: var(--font-ubuntu);
}
.facilityOperations4Child {
  position: absolute;
  top: 31px;
  left: 212px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.facilityOperations4Item {
  position: absolute;
  height: 6.96%;
  width: 3.19%;
  top: 54.06%;
  right: 45.97%;
  bottom: 38.98%;
  left: 50.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component62Icon,
.component64Icon {
  position: absolute;
  top: 354px;
  left: 775px;
  width: 46px;
  height: 66.8px;
  object-fit: cover;
}
.component64Icon {
  top: 292px;
  left: 744px;
}
.component65Icon,
.component66Icon,
.component67Icon,
.component68Icon {
  position: absolute;
  top: 340px;
  left: 829px;
  width: 46px;
  height: 66.8px;
  object-fit: cover;
}
.component66Icon,
.component67Icon,
.component68Icon {
  top: 367px;
  left: 891px;
}
.component67Icon,
.component68Icon {
  top: 435px;
  left: 937px;
}
.component68Icon {
  top: 474px;
  left: 882px;
}
.component63Icon,
.component69Icon,
.component70Icon,
.component71Icon {
  position: absolute;
  top: 428px;
  left: 735px;
  width: 46px;
  height: 66.8px;
  object-fit: cover;
}
.component63Icon,
.component70Icon,
.component71Icon {
  top: 495px;
  left: 790px;
}
.component70Icon,
.component71Icon {
  top: 421px;
  left: 821px;
}
.component70Icon {
  top: 546px;
  left: 843px;
}
.component72Icon,
.component73Icon,
.component74Icon,
.component75Icon {
  position: absolute;
  top: 350px;
  left: 709px;
  width: 46px;
  height: 66.8px;
  object-fit: cover;
}
.component73Icon,
.component74Icon,
.component75Icon {
  top: 326px;
  left: 641px;
}
.component74Icon,
.component75Icon {
  top: 485px;
  left: 668px;
}
.component75Icon {
  top: 400px;
  left: 673px;
}
.unionIcon4 {
  position: relative;
  width: 798px;
  height: 324px;
}
.groupChild,
.groupItem {
  position: absolute;
  top: 92.8px;
  left: 0;
  border-radius: var(--br-5xs);
  width: 798px;
  height: 1.4px;
}
.groupItem {
  top: 195.3px;
  left: 16px;
  width: 766px;
}
.wc2fMq8Mineola {
  position: absolute;
  top: 40.6px;
  left: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 247px;
  height: 30.4px;
}
.frameInner {
  width: 24px;
  position: relative;
  height: 24px;
}
.groupWrapper,
.totalSlotsParent {
  display: flex;
  flex-direction: column;
}
.groupWrapper {
  width: 38px;
  border-radius: var(--br-5xs);
  background-color: var(--color-forestgreen-100);
  height: 38px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.totalSlotsParent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frameContainer,
.frameWrapper {
  display: flex;
  align-items: center;
}
.frameContainer {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.frameWrapper {
  border-radius: var(--br-5xs);
  background-color: var(--color-darkgreen);
  border: 0.5px solid var(--color-gray-500);
  box-sizing: border-box;
  height: 62px;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-xs);
}
.frameChild1,
.groupIcon1 {
  width: 26.7px;
  position: relative;
  height: 24px;
}
.groupIcon1 {
  width: 22px;
  height: 22px;
}
.frameGroup {
  position: absolute;
  top: 114.3px;
  left: 16px;
  height: 89.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.unionParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 798px;
  height: 324px;
}
.activeCarriers {
  position: relative;
  font-weight: 500;
}
.component77Child {
  width: 52px;
  position: relative;
  border-radius: 40.89px;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  height: 52px;
  z-index: 0;
}
.component77Item {
  width: 63.46%;
  position: absolute;
  margin: 0 !important;
  height: 29.81%;
  top: 38.27%;
  right: 15.96%;
  bottom: 31.92%;
  left: 20.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.component77 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.g10Icon,
.g24793Icon,
.g6Icon {
  width: 56.92%;
  position: absolute;
  margin: 0 !important;
  height: 17.5%;
  top: 40.38%;
  right: 21.92%;
  bottom: 42.12%;
  left: 21.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.g10Icon,
.g24793Icon {
  width: 44.23%;
  height: 32.88%;
  top: 65.38%;
  right: 28.85%;
  bottom: 1.73%;
  left: 26.92%;
}
.g24793Icon {
  width: 36.54%;
  height: 40.58%;
  top: 28.85%;
  right: 32.69%;
  bottom: 30.58%;
  left: 30.77%;
}
.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40.89px;
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 52px;
  height: 52px;
}
.component81Inner {
  width: 52px;
  position: relative;
  height: 52px;
  z-index: 0;
}
.icon5 {
  width: 33px;
  position: absolute;
  margin: 0 !important;
  top: 22px;
  left: 10px;
  height: 8px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.component81 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-3xs);
}
.component82Child {
  width: 69.04%;
  position: absolute;
  margin: 0 !important;
  height: 13.46%;
  top: 44.23%;
  right: 15.58%;
  bottom: 42.31%;
  left: 15.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.pxUnitedParcelServiceLogoIcon {
  width: 18px;
  position: absolute;
  margin: 0 !important;
  top: 17px;
  left: 16px;
  height: 21px;
  object-fit: cover;
  z-index: 1;
}
.activeCarriersParent,
.component77Parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.component77Parent {
  flex-direction: row;
  gap: 16px;
}
.activeCarriersParent {
  position: absolute;
  top: 214px;
  left: 16px;
  flex-direction: column;
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
}
.groupContainer {
  position: absolute;
  top: 566px;
  left: 414px;
  width: 798px;
  height: 324px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  font-family: var(--font-ubuntu);
}
.filterChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
}
.filterItem {
  position: absolute;
  height: 35.91%;
  width: 7.9%;
  top: 31.82%;
  right: 6.1%;
  bottom: 32.27%;
  left: 86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.filter,
.filters {
  position: absolute;
  top: 29.55%;
  left: 10%;
}
.filter {
  top: 101px;
  left: 1202px;
  width: 200px;
  height: 44px;
  color: var(--color-gray-200);
  font-family: var(--font-ubuntu);
}
.facilityOperations4 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-400);
  height: 960px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-lightgray-300);
  font-family: var(--font-roboto);
}
