.headerChild {
  width: 1920px;
  position: relative;
  height: 99.9px;
  z-index: 0;
}
.headerItem {
  width: 13.33%;
  position: absolute;
  margin: 0 !important;
  height: 46.45%;
  top: 28.03%;
  right: 84.53%;
  bottom: 25.53%;
  left: 2.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.empoweringSustainableFreight {
  width: 810px;
  position: relative;
  line-height: 169%;
  display: inline-block;
}
.divider {
  width: 54px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkgreen);
  height: 5px;
}
.selectYourRole {
  position: relative;
  line-height: 96.5%;
  text-transform: uppercase;
  font-weight: 500;
}
.imageBoxIcon {
  width: 96.2px;
  position: relative;
  height: 96.2px;
}
.freightMovers {
  position: relative;
  line-height: 96.5%;
  font-weight: 500;
}
.rolesChargingBox,
.rolesFreightBox,
.rolesUtilitiesBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.rolesChargingBox,
.rolesUtilitiesBox {
  color: var(--color-mediumseagreen);
}
.rolesUtilitiesBox {
  color: var(--color-mediumpurple);
}
.bannerContent,
.rolesBox,
.rolesWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rolesWrapper {
  flex-direction: row;
  gap: 57px;
  font-size: var(--font-size-3xl);
  color: var(--color-steelblue);
}
.bannerContent,
.rolesBox {
  flex-direction: column;
}
.rolesBox {
  gap: 38px;
  font-size: 32px;
  color: var(--color-gray-100);
}
.bannerContent {
  flex: 1;
  gap: 49px;
}
.bannerImgBoxIcon {
  width: 800px;
  position: relative;
  height: 790px;
}
.bannerSec,
.container {
  display: flex;
  align-items: center;
}
.container {
  width: 1709px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 103px;
}
.bannerSec {
  position: absolute;
  top: 99.5px;
  left: -0.5px;
  width: 1920px;
  height: 980px;
  flex-direction: column;
  justify-content: center;
  padding: 10px 90px;
  box-sizing: border-box;
}
.landingPage {
  width: 100%;
  position: relative;
  background: linear-gradient(-81.08deg, #fff, #d8f9e0);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: 58px;
  color: var(--color-gray-200);
  font-family: var(--font-ubuntu);
}
